.luiInputFile {
  display: flex;
  align-items: center;
}

.luiInputFile_preview {
	flex: 0 0 auto;
  margin-right: var(--lui-size);
  overflow: hidden;
}

.luiInputFile_link {
  padding: 0;
  line-height: 1;
  border: 0;
	font: inherit;
	color: inherit;
  background: transparent;
  cursor: pointer;
}

.luiInputFile_spinner {
  display: inline-block;
  overflow: hidden;
  animation-duration: 1s;
  animation-name: luiInputFile_spinner_animation;
  animation-iteration-count: infinite;
  border-bottom: 1px dashed var(--lui-foreground);
}

@keyframes luiInputFile_spinner_animation {
  from {
    width: 0;
  }
  to {
    width: var(--lui-size);
  }
}
