.luiForm {
  margin: calc(var(--lui-size-smaller) * -1) 0;
}

.luiForm_field {
  display: block;
  padding: var(--lui-size-smaller) 0;
}

.luiForm_field_title {
  padding: var(--lui-size-smaller) 0;
  font-weight: bold;
}

.luiForm_buttons {
  padding: var(--lui-size-smaller) 0;
}
